.flexing3 {
    display: flex;
    justify-content: space-evenly;

  }
  .flexing2 {
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
  }
  .news {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    box-shadow: 5px 5px grey;
    
  }
  .sb{
      width:30%;
      border-radius: 10px;
      outline: none;
  }
  .icons {
    text-align: center;
    padding-top: 10%;
    padding-bottom:10%;
    padding-left: 10%;
    
  }
  .subnews {
    width: 70%;
    padding-bottom: 1rem;
    font-size: .8rem;
    padding-top: 3%;
  }
  .bns{
      margin-bottom: 2%;
       margin-left: 2%;
    width: 20%;      }
  /* .thumb{
      width:80%;
  } */
  @media screen and (max-width: 55rem){
      .sb{
          width:80%;
          margin-left: 6%;
          margin-right: 6%;
      }
      .flexing p{
          font-size: 0.8rem;
          width:80%;
          margin-left: 6%;
          margin-right: 6%;
      }
      .flexing2{
          flex-direction: column;
      }
      .subnews{
          width:75%;
          padding: 10%;
      }
      .subnews h1{
          font-size: 1.1rem;
      }
      .ic{
          width:50%;
      }
      .ic2{
        width:70%;
    }
    
      .news{
          padding-right: 4%;
      }
      .bns{
          width:80%;
          margin-left: 10%;
          margin-right: 10%;
          margin-bottom: 3%;
      }
      .txts{
          font-size: 0.6rem;
      }
  }

  @media screen and (max-width: 45rem){
    .ic{
        width:40%;}
    .ic2{
        width:70%;
    }
  }